[submodule "Muzzle/vendor/spdlog"]
	path = Muzzle/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Muzzle/vendor/GLFW"]
	path = Muzzle/vendor/GLFW
	url = https://github.com/TheCherno/glfw
